.website_size {
  width: 750px;
  height: 3000px;
}

.fh2 {
  font-size: 18px;
}

.wedding_package_1 {
  border-radius: 20px;
  border-style: double;
  border-color: blueviolet;
  width: 700px;
  height: 750px;
  box-shadow: 5px 10px;
  margin-bottom: 30px;
}

.wedding_package_2 {
  border-radius: 20px;
  border-style: double;
  border-color: rgb(116, 20, 33);
  width: 700px;
  height: 1050px;
  box-shadow: 5px 10px;
  margin-bottom: 30px;
}
.includes_title {
  font-weight: bold;
}
.package_includes:hover {
  font-size: 120%;
  transition: 0.8s;
}
