body {
  display: block;
  margin: 8px;
}

button {
  height: 60px;
  width: 150px;
  background-color: black;
  border-radius: 15px;
  color: white;
}

.box {
  height: 200px;
  width: 200px;
  background-color: red;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 60px;
  background-color: violet;
}

.hearts {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
}

.hearts::before,
.hearts::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
}

.hearts::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.hearts::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.black {
  width: 100px;
  height: 30px;
  background-color: black;
}
